extends layout

block content
  md-content(ng-controller='CarEditController')
    form(name='form1')
      md-input-container
        label Marca
        md-select(ng-model="data.selected_mark" ng-change='methods.changeMark()')
          md-option(ng-repeat='mark in data.avaible_marks' ng-value='mark') {{mark._id}}

      md-input-container
        label Modelo
        md-select(ng-model="data.car.model")
          md-option(ng-repeat='model in data.avaible_models' ng-value='model') {{model}}
  
      div(class="button" ngf-select ng-model="data.files" ngf-multiple="true") Select

      md-button(class='md-raised md-primary' ng-click='methods.save()') PUBLICAR


block script
  script(src='/$http-factory/$http-store.js')
  script(src='/controllers/cars-edit-controller.js')