doctype html
html
  head
    title= title
    link(rel="stylesheet" href='/bower/angular-material/angular-material.min.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")
  body(ng-app='app')
    block content


    script(src="/bower/requirejs/require.js")
    
    script(src="/bower/angular/angular.min.js")

    script(src="/bower/angular-route/angular-route.min.js")
    script(src="/bower/angular-animate/angular-animate.min.js")
    script(src="/bower/angular-messages/angular-messages.js")
    script(src="/bower/angular-aria/angular-aria.min.js")
    script(src="/bower/angular-material/angular-material.min.js")
    
    script(src="/bower/angular-material-icons/angular-material-icons.min.js")
    
    script(src="/app.js")

    block script

